filebeat.inputs:
  - type: log
    enabled: true
    paths:
    - /var/log/nginx/access.log
    - /var/log/nginx/error.log

setup.kibana:
  host: "10.1.0.13:5601"
  username: "kibana_system"
  password: "********"

output.elasticsearch:
  hosts: ["https://10.1.0.40:9200"]
  username: "elastic"
  password: "*********"
  ssl:
    enabled: true
    certificate_authorities: ["/etc/filebeat/certs/ca.crt"]
